.block-status {
    color: $light;
    display: flex;
    min-height: rem(45);
    align-items: center;
    border-radius: rem(8);
    padding: rem(5) rem(22);
    background-color: $orange;

    &__text {
        font-weight: 700;
        font-size: rem(16);
        text-transform: uppercase;
    }
}