.section {
    &--full {
        min-height: 100vh;
    }

    &--centered {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &--between {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    &--align {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &--regular {
        padding: rem(25) 0;
    }

    &--padding {
        padding: rem(25) rem(25);
    }
}
