.aside {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: rem(82);
    position: relative;
    flex-direction: column;

    &__section {
        min-width: 0;
        padding: rem(27) rem(3) rem(27) rem(8);
        overflow-y: scroll;

        &--main {
            flex-grow: 1;
            background-color: $purple-light;
        }

        &--footer {
            height: rem(320);
            background-color: $lilac-light;
        }
    }

    &__toolbar {
        gap: rem(12);
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        padding: 0 rem(6);

        &--full {
            height: 100%;
        }
    }

    &__line {
        height: 1px;
        opacity: 0.3;
        display: block;
        margin-top: rem(20);
        margin-bottom: rem(20);
        background-color: $white;
    }
}