/*!****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/css/main.scss ***!
  \****************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Satisfy&display=swap);
/*!*******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./node_modules/the-new-css-reset/css/reset.css ***!
  \*******************************************************************************************************************************************************************/
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}
/*!********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/css/main.scss (1) ***!
  \********************************************************************************************************************************************/
.bg-white {
  background-color: #FFFFFF;
}

.pt-1 {
  padding-top: 0.0666666667rem;
}

.pt-2 {
  padding-top: 0.1333333333rem;
}

.pt-3 {
  padding-top: 0.2rem;
}

.pt-4 {
  padding-top: 0.2666666667rem;
}

.pt-5 {
  padding-top: 0.3333333333rem;
}

.pt-6 {
  padding-top: 0.4rem;
}

.pt-7 {
  padding-top: 0.4666666667rem;
}

.pt-8 {
  padding-top: 0.5333333333rem;
}

.pt-9 {
  padding-top: 0.6rem;
}

.pt-10 {
  padding-top: 0.6666666667rem;
}

.pt-11 {
  padding-top: 0.7333333333rem;
}

.pt-12 {
  padding-top: 0.8rem;
}

.pt-13 {
  padding-top: 0.8666666667rem;
}

.pt-14 {
  padding-top: 0.9333333333rem;
}

.pt-15 {
  padding-top: 1rem;
}

.pt-16 {
  padding-top: 1.0666666667rem;
}

.pt-17 {
  padding-top: 1.1333333333rem;
}

.pt-18 {
  padding-top: 1.2rem;
}

.pt-19 {
  padding-top: 1.2666666667rem;
}

.pt-20 {
  padding-top: 1.3333333333rem;
}

.pt-25 {
  padding-top: 1.6666666667rem;
}

.pt-30 {
  padding-top: 2rem;
}

.pt-35 {
  padding-top: 2.3333333333rem;
}

.pt-40 {
  padding-top: 2.6666666667rem;
}

.pt-45 {
  padding-top: 3rem;
}

.pt-50 {
  padding-top: 3.3333333333rem;
}

.pt-55 {
  padding-top: 3.6666666667rem;
}

.pt-60 {
  padding-top: 4rem;
}

.pt-65 {
  padding-top: 4.3333333333rem;
}

.pt-70 {
  padding-top: 4.6666666667rem;
}

.pt-75 {
  padding-top: 5rem;
}

.pt-80 {
  padding-top: 5.3333333333rem;
}

.pt-85 {
  padding-top: 5.6666666667rem;
}

.pt-90 {
  padding-top: 6rem;
}

.pt-95 {
  padding-top: 6.3333333333rem;
}

.pt-100 {
  padding-top: 6.6666666667rem;
}

.pt-105 {
  padding-top: 7rem;
}

.pt-110 {
  padding-top: 7.3333333333rem;
}

.pt-115 {
  padding-top: 7.6666666667rem;
}

.pt-120 {
  padding-top: 8rem;
}

.pt-125 {
  padding-top: 8.3333333333rem;
}

.pt-130 {
  padding-top: 8.6666666667rem;
}

.pt-135 {
  padding-top: 9rem;
}

.pt-140 {
  padding-top: 9.3333333333rem;
}

.pt-145 {
  padding-top: 9.6666666667rem;
}

.pt-150 {
  padding-top: 10rem;
}

.pt-155 {
  padding-top: 10.3333333333rem;
}

.pt-160 {
  padding-top: 10.6666666667rem;
}

.pt-165 {
  padding-top: 11rem;
}

.pt-170 {
  padding-top: 11.3333333333rem;
}

.pt-175 {
  padding-top: 11.6666666667rem;
}

.pt-180 {
  padding-top: 12rem;
}

.pt-185 {
  padding-top: 12.3333333333rem;
}

.pt-190 {
  padding-top: 12.6666666667rem;
}

.pt-195 {
  padding-top: 13rem;
}

.pt-200 {
  padding-top: 13.3333333333rem;
}

.pt-205 {
  padding-top: 13.6666666667rem;
}

.pt-210 {
  padding-top: 14rem;
}

.pt-215 {
  padding-top: 14.3333333333rem;
}

.pt-220 {
  padding-top: 14.6666666667rem;
}

.pt-225 {
  padding-top: 15rem;
}

.pt-230 {
  padding-top: 15.3333333333rem;
}

.pt-235 {
  padding-top: 15.6666666667rem;
}

.pt-240 {
  padding-top: 16rem;
}

.pt-245 {
  padding-top: 16.3333333333rem;
}

.pt-250 {
  padding-top: 16.6666666667rem;
}

.pb-1 {
  padding-bottom: 0.0666666667rem;
}

.pb-2 {
  padding-bottom: 0.1333333333rem;
}

.pb-3 {
  padding-bottom: 0.2rem;
}

.pb-4 {
  padding-bottom: 0.2666666667rem;
}

.pb-5 {
  padding-bottom: 0.3333333333rem;
}

.pb-6 {
  padding-bottom: 0.4rem;
}

.pb-7 {
  padding-bottom: 0.4666666667rem;
}

.pb-8 {
  padding-bottom: 0.5333333333rem;
}

.pb-9 {
  padding-bottom: 0.6rem;
}

.pb-10 {
  padding-bottom: 0.6666666667rem;
}

.pb-11 {
  padding-bottom: 0.7333333333rem;
}

.pb-12 {
  padding-bottom: 0.8rem;
}

.pb-13 {
  padding-bottom: 0.8666666667rem;
}

.pb-14 {
  padding-bottom: 0.9333333333rem;
}

.pb-15 {
  padding-bottom: 1rem;
}

.pb-16 {
  padding-bottom: 1.0666666667rem;
}

.pb-17 {
  padding-bottom: 1.1333333333rem;
}

.pb-18 {
  padding-bottom: 1.2rem;
}

.pb-19 {
  padding-bottom: 1.2666666667rem;
}

.pb-20 {
  padding-bottom: 1.3333333333rem;
}

.pb-25 {
  padding-bottom: 1.6666666667rem;
}

.pb-30 {
  padding-bottom: 2rem;
}

.pb-35 {
  padding-bottom: 2.3333333333rem;
}

.pb-40 {
  padding-bottom: 2.6666666667rem;
}

.pb-45 {
  padding-bottom: 3rem;
}

.pb-50 {
  padding-bottom: 3.3333333333rem;
}

.pb-55 {
  padding-bottom: 3.6666666667rem;
}

.pb-60 {
  padding-bottom: 4rem;
}

.pb-65 {
  padding-bottom: 4.3333333333rem;
}

.pb-70 {
  padding-bottom: 4.6666666667rem;
}

.pb-75 {
  padding-bottom: 5rem;
}

.pb-80 {
  padding-bottom: 5.3333333333rem;
}

.pb-85 {
  padding-bottom: 5.6666666667rem;
}

.pb-90 {
  padding-bottom: 6rem;
}

.pb-95 {
  padding-bottom: 6.3333333333rem;
}

.pb-100 {
  padding-bottom: 6.6666666667rem;
}

.pb-105 {
  padding-bottom: 7rem;
}

.pb-110 {
  padding-bottom: 7.3333333333rem;
}

.pb-115 {
  padding-bottom: 7.6666666667rem;
}

.pb-120 {
  padding-bottom: 8rem;
}

.pb-125 {
  padding-bottom: 8.3333333333rem;
}

.pb-130 {
  padding-bottom: 8.6666666667rem;
}

.pb-135 {
  padding-bottom: 9rem;
}

.pb-140 {
  padding-bottom: 9.3333333333rem;
}

.pb-145 {
  padding-bottom: 9.6666666667rem;
}

.pb-150 {
  padding-bottom: 10rem;
}

.pb-155 {
  padding-bottom: 10.3333333333rem;
}

.pb-160 {
  padding-bottom: 10.6666666667rem;
}

.pb-165 {
  padding-bottom: 11rem;
}

.pb-170 {
  padding-bottom: 11.3333333333rem;
}

.pb-175 {
  padding-bottom: 11.6666666667rem;
}

.pb-180 {
  padding-bottom: 12rem;
}

.pb-185 {
  padding-bottom: 12.3333333333rem;
}

.pb-190 {
  padding-bottom: 12.6666666667rem;
}

.pb-195 {
  padding-bottom: 13rem;
}

.pb-200 {
  padding-bottom: 13.3333333333rem;
}

.pb-205 {
  padding-bottom: 13.6666666667rem;
}

.pb-210 {
  padding-bottom: 14rem;
}

.pb-215 {
  padding-bottom: 14.3333333333rem;
}

.pb-220 {
  padding-bottom: 14.6666666667rem;
}

.pb-225 {
  padding-bottom: 15rem;
}

.pb-230 {
  padding-bottom: 15.3333333333rem;
}

.pb-235 {
  padding-bottom: 15.6666666667rem;
}

.pb-240 {
  padding-bottom: 16rem;
}

.pb-245 {
  padding-bottom: 16.3333333333rem;
}

.pb-250 {
  padding-bottom: 16.6666666667rem;
}

.mb-1 {
  margin-bottom: 0.0666666667rem;
}

.mb-2 {
  margin-bottom: 0.1333333333rem;
}

.mb-3 {
  margin-bottom: 0.2rem;
}

.mb-4 {
  margin-bottom: 0.2666666667rem;
}

.mb-5 {
  margin-bottom: 0.3333333333rem;
}

.mb-6 {
  margin-bottom: 0.4rem;
}

.mb-7 {
  margin-bottom: 0.4666666667rem;
}

.mb-8 {
  margin-bottom: 0.5333333333rem;
}

.mb-9 {
  margin-bottom: 0.6rem;
}

.mb-10 {
  margin-bottom: 0.6666666667rem;
}

.mb-11 {
  margin-bottom: 0.7333333333rem;
}

.mb-12 {
  margin-bottom: 0.8rem;
}

.mb-13 {
  margin-bottom: 0.8666666667rem;
}

.mb-14 {
  margin-bottom: 0.9333333333rem;
}

.mb-15 {
  margin-bottom: 1rem;
}

.mb-16 {
  margin-bottom: 1.0666666667rem;
}

.mb-17 {
  margin-bottom: 1.1333333333rem;
}

.mb-18 {
  margin-bottom: 1.2rem;
}

.mb-19 {
  margin-bottom: 1.2666666667rem;
}

.mb-20 {
  margin-bottom: 1.3333333333rem;
}

.mb-25 {
  margin-bottom: 1.6666666667rem;
}

.mb-30 {
  margin-bottom: 2rem;
}

.mb-35 {
  margin-bottom: 2.3333333333rem;
}

.mb-40 {
  margin-bottom: 2.6666666667rem;
}

.mb-45 {
  margin-bottom: 3rem;
}

.mb-50 {
  margin-bottom: 3.3333333333rem;
}

.mb-55 {
  margin-bottom: 3.6666666667rem;
}

.mb-60 {
  margin-bottom: 4rem;
}

.mb-65 {
  margin-bottom: 4.3333333333rem;
}

.mb-70 {
  margin-bottom: 4.6666666667rem;
}

.mb-75 {
  margin-bottom: 5rem;
}

.mb-80 {
  margin-bottom: 5.3333333333rem;
}

.mb-85 {
  margin-bottom: 5.6666666667rem;
}

.mb-90 {
  margin-bottom: 6rem;
}

.mb-95 {
  margin-bottom: 6.3333333333rem;
}

.mb-100 {
  margin-bottom: 6.6666666667rem;
}

.mb-105 {
  margin-bottom: 7rem;
}

.mb-110 {
  margin-bottom: 7.3333333333rem;
}

.mb-115 {
  margin-bottom: 7.6666666667rem;
}

.mb-120 {
  margin-bottom: 8rem;
}

.mb-125 {
  margin-bottom: 8.3333333333rem;
}

.mb-130 {
  margin-bottom: 8.6666666667rem;
}

.mb-135 {
  margin-bottom: 9rem;
}

.mb-140 {
  margin-bottom: 9.3333333333rem;
}

.mb-145 {
  margin-bottom: 9.6666666667rem;
}

.mb-150 {
  margin-bottom: 10rem;
}

.mb-155 {
  margin-bottom: 10.3333333333rem;
}

.mb-160 {
  margin-bottom: 10.6666666667rem;
}

.mb-165 {
  margin-bottom: 11rem;
}

.mb-170 {
  margin-bottom: 11.3333333333rem;
}

.mb-175 {
  margin-bottom: 11.6666666667rem;
}

.mb-180 {
  margin-bottom: 12rem;
}

.mb-185 {
  margin-bottom: 12.3333333333rem;
}

.mb-190 {
  margin-bottom: 12.6666666667rem;
}

.mb-195 {
  margin-bottom: 13rem;
}

.mb-200 {
  margin-bottom: 13.3333333333rem;
}

.mb-205 {
  margin-bottom: 13.6666666667rem;
}

.mb-210 {
  margin-bottom: 14rem;
}

.mb-215 {
  margin-bottom: 14.3333333333rem;
}

.mb-220 {
  margin-bottom: 14.6666666667rem;
}

.mb-225 {
  margin-bottom: 15rem;
}

.mb-230 {
  margin-bottom: 15.3333333333rem;
}

.mb-235 {
  margin-bottom: 15.6666666667rem;
}

.mb-240 {
  margin-bottom: 16rem;
}

.mb-245 {
  margin-bottom: 16.3333333333rem;
}

.mb-250 {
  margin-bottom: 16.6666666667rem;
}

html {
  scroll-behavior: smooth;
}

a,
svg,
button {
  transition: 0.3s all;
}

input,
textarea,
button {
  font-family: inherit;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}

@media only screen and (max-width: 1200px) {
  .mob-hidden {
    visibility: hidden !important;
    display: none !important;
  }
}

.desktop-hidden {
  display: none;
  visibility: hidden;
}
@media only screen and (max-width: 1200px) {
  .desktop-hidden {
    display: block;
    visibility: visible;
  }
}

@media only screen and (max-width: 1200px) {
  .order-m-1 {
    order: 1;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-2 {
    order: 2;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-3 {
    order: 3;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-4 {
    order: 4;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-5 {
    order: 5;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-6 {
    order: 6;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-7 {
    order: 7;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-8 {
    order: 8;
  }
}
@media only screen and (max-width: 1200px) {
  .order-m-9 {
    order: 9;
  }
}

.center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.scrolls {
  scrollbar-width: thin;
  scrollbar-color: #6a718e rgba(0, 0, 0, 0);
}
.scrolls::-webkit-scrollbar {
  width: 0.3125rem;
  margin-right: 1px;
  scrollbar-gutter: stable;
}
.scrolls::-webkit-scrollbar-track {
  background: none;
}
.scrolls::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0.625rem;
  background-color: #6a718e;
}

.scrolls-invert {
  scrollbar-width: thin;
  scrollbar-color: #FFFFFF rgba(0, 0, 0, 0);
}
.scrolls-invert::-webkit-scrollbar {
  width: 0.3125rem;
  margin-right: 1px;
  scrollbar-gutter: stable;
}
.scrolls-invert::-webkit-scrollbar-track {
  background: none;
}
.scrolls-invert::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.full {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .mbm-1 {
    margin-bottom: 0.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-2 {
    margin-bottom: 0.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-3 {
    margin-bottom: 0.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-4 {
    margin-bottom: 0.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-5 {
    margin-bottom: 0.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-6 {
    margin-bottom: 0.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-7 {
    margin-bottom: 0.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-8 {
    margin-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-9 {
    margin-bottom: 0.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-10 {
    margin-bottom: 0.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-15 {
    margin-bottom: 0.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-20 {
    margin-bottom: 1.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-25 {
    margin-bottom: 1.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-30 {
    margin-bottom: 1.875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-35 {
    margin-bottom: 2.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-35 {
    margin-bottom: 2.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-40 {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-45 {
    margin-bottom: 2.8125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-50 {
    margin-bottom: 3.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-55 {
    margin-bottom: 3.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-60 {
    margin-bottom: 3.75rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-65 {
    margin-bottom: 4.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-70 {
    margin-bottom: 4.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-75 {
    margin-bottom: 4.6875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-80 {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-85 {
    margin-bottom: 5.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-90 {
    margin-bottom: 5.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-95 {
    margin-bottom: 5.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .mbm-100 {
    margin-bottom: 6.25rem;
  }
}

@media only screen and (max-width: 1200px) {
  .ptm-1 {
    padding-top: 0.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-2 {
    padding-top: 0.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-3 {
    padding-top: 0.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-4 {
    padding-top: 0.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-5 {
    padding-top: 0.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-6 {
    padding-top: 0.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-7 {
    padding-top: 0.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-8 {
    padding-top: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-9 {
    padding-top: 0.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-10 {
    padding-top: 0.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-15 {
    padding-top: 0.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-20 {
    padding-top: 1.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-25 {
    padding-top: 1.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-30 {
    padding-top: 1.875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-35 {
    padding-top: 2.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-40 {
    padding-top: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-45 {
    padding-top: 2.8125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-50 {
    padding-top: 3.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-55 {
    padding-top: 3.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-60 {
    padding-top: 3.75rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-65 {
    padding-top: 4.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-70 {
    padding-top: 4.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-75 {
    padding-top: 4.6875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-80 {
    padding-top: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-85 {
    padding-top: 5.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-90 {
    padding-top: 5.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-95 {
    padding-top: 5.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .ptm-100 {
    padding-top: 6.25rem;
  }
}

@media only screen and (max-width: 1200px) {
  .pbm-1 {
    padding-bottom: 0.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-2 {
    padding-bottom: 0.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-3 {
    padding-bottom: 0.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-4 {
    padding-bottom: 0.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-5 {
    padding-bottom: 0.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-6 {
    padding-bottom: 0.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-7 {
    padding-bottom: 0.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-8 {
    padding-bottom: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-9 {
    padding-bottom: 0.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-10 {
    padding-bottom: 0.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-15 {
    padding-bottom: 0.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-20 {
    padding-bottom: 1.25rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-25 {
    padding-bottom: 1.5625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-30 {
    padding-bottom: 1.875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-35 {
    padding-bottom: 2.1875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-40 {
    padding-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-45 {
    padding-bottom: 2.8125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-50 {
    padding-bottom: 3.125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-55 {
    padding-bottom: 3.4375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-60 {
    padding-bottom: 3.75rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-65 {
    padding-bottom: 4.0625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-70 {
    padding-bottom: 4.375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-75 {
    padding-bottom: 4.6875rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-80 {
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-85 {
    padding-bottom: 5.3125rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-90 {
    padding-bottom: 5.625rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-95 {
    padding-bottom: 5.9375rem;
  }
}
@media only screen and (max-width: 1200px) {
  .pbm-100 {
    padding-bottom: 6.25rem;
  }
}

.aside {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 5.125rem;
  position: relative;
}
.aside__section {
  min-width: 0;
  padding: 1.6875rem 0.1875rem 1.6875rem 0.5rem;
  overflow-y: scroll;
}
.aside__section--main {
  background-color: #481E7E;
  height: 60%;
}
.aside__section--footer {
  height: 40%;
  background-color: #EAE1F5;
}
.aside__toolbar {
  gap: 0.75rem;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 0 0.375rem;
}
.aside__line {
  height: 1px;
  opacity: 0.3;
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: #FFFFFF;
}

.block-info {
  font-weight: 600;
  font-size: 1.4375rem;
  border-radius: 0.5rem;
  padding: 0.375rem 1rem;
  background-color: #f3f6fc;
}

.body {
  color: #0D0B30;
  display: flex;
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: space-between;
}
.body--centered {
  align-items: center;
}
.button {
  display: flex;
  cursor: pointer;
  min-height: 2.75rem;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
}
.button--orange-outline {
  color: #FF8059;
  border: 1px solid #FF8059;
}
.button--orange-outline:hover {
  color: #FFFFFF;
  background-color: #FF8059;
}
.button--orange-outline:active {
  opacity: 0.7;
}
.button--small {
  min-width: 7.5rem;
}
.button--medium {
  min-width: 13.125rem;
}
.button__text {
  font-weight: 500;
  font-size: 1.0625rem;
}

.button-aside {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  position: relative;
  align-items: center;
  transition: 0.3s all;
  border-radius: 0.625rem;
  justify-content: center;
}
.button-aside.active {
  outline: 0.375rem solid #FF8059;
}
.button-aside--accent {
  background-color: #FF8059;
}
.button-aside--accent:hover {
  opacity: 0.7;
}
.button-aside--accent:active {
  opacity: 1;
  background-color: #FFFFFF;
}
.button-aside--accent:active .button-aside__icon, .button-aside--accent:active .button-aside__icon-accent {
  fill: #FF8059;
}
.button-aside--accent .button-aside__icon {
  fill: #FFFFFF;
  width: 1.5rem;
  height: 1.5rem;
}
.button-aside--accent .button-aside__icon {
  fill: #FFFFFF;
}
.button-aside--picture {
  background-color: #FFFFFF;
}
.button-aside--picture:hover {
  opacity: 0.7;
}
.button-aside--picture:active {
  opacity: 1;
  background-color: #FF8059;
}
.button-aside--clear:hover .button-aside__icon, .button-aside--clear:hover .button-aside__icon-accent {
  opacity: 1;
}
.button-aside--clear .button-aside__icon {
  opacity: 0.7;
  fill: #241251;
  width: 1.75rem;
  height: 1.75rem;
  transition: 0.3s all;
}
.button-aside--clear .button-aside__icon-accent {
  opacity: 0.7;
  fill: #241251;
  transition: 0.3s all;
}
.button-aside__picture {
  width: 95%;
  height: 95%;
  padding: 0.125rem;
  object-fit: contain;
}
.button-aside__icon {
  display: block;
}
.button-aside__icon-accent {
  top: 50%;
  left: 100%;
  width: 0.375rem;
  display: block;
  height: 0.625rem;
  position: absolute;
  transform: translateY(-50%);
}

.button-counter {
  display: flex;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}
.button-counter:hover .button-counter__icon {
  fill: #FF8059;
}
.button-counter__icon {
  fill: #6a718e;
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  transition: 0.3s fill;
}
.button-counter__counter {
  top: -15%;
  right: -25%;
  color: #FFFFFF;
  line-height: 1;
  font-weight: 500;
  font-size: 0.875rem;
  position: absolute;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.25rem 0.4375rem;
  background-color: #FF8059;
}

.button-icon {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  align-items: center;
  transition: 0.3s all;
  border-radius: 0.5rem;
  justify-content: center;
  border: 1px solid #C7CAE9;
}
.button-icon--shadow {
  box-shadow: 0 0 1.25rem rgba(41, 72, 152, 0.1);
}
.button-icon:hover {
  opacity: 0.7;
  box-shadow: 0 0 0 rgba(41, 72, 152, 0.2);
}
.button-icon:active {
  opacity: 1;
  border-color: #6a718e;
  background-color: #6a718e;
}
.button-icon:active .button-icon__icon {
  fill: #FFFFFF;
}
.button-icon__icon {
  fill: #6a718e;
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  transition: 0.3s fill;
}

.button-outer {
  left: 100%;
  opacity: 0.8;
  display: flex;
  width: 1.125rem;
  cursor: pointer;
  height: 2.125rem;
  position: absolute;
  align-items: center;
  background-color: #0D0B30;
  justify-content: center;
  transition: 0.3s opacity;
}
.button-outer:hover {
  opacity: 1;
}
.button-outer--right {
  left: 100%;
  top: 1.625rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
.button-outer__icon {
  fill: #FFFFFF;
  width: 0.375rem;
  display: block;
  height: 0.6875rem;
}

.checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.checkbox__input:checked + .checkbox__box {
  border-color: #957DF3;
  background-color: #957DF3;
}
.checkbox__input:checked + .checkbox__box .checkbox__icon {
  opacity: 1;
}
.checkbox__input:checked + .checkbox__icon {
  opacity: 1;
}
.checkbox__box {
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  transition: 0.3s all;
  border-radius: 0.25rem;
  justify-content: center;
  border: 1px solid #EAE1F5;
}
.checkbox__caption {
  display: block;
  margin-left: 0.8125rem;
}
.checkbox__icon {
  opacity: 0;
  display: block;
  width: 0.6875rem;
  height: 0.625rem;
  transition: 0.3s opacity;
}

.columns {
  gap: 1.875rem;
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.columns__col {
  position: relative;
}
.columns__col.border-top {
  border-top: 1px solid #EAE1F5;
}
.columns__col.border-right {
  border-right: 1px solid #EAE1F5;
}
.columns__col.border-left {
  border-left: 1px solid #EAE1F5;
}
.columns__col.border-bottom {
  border-bottom: 1px solid #EAE1F5;
}
.columns__col--1 {
  grid-column: span 1;
}
.columns__col--2 {
  grid-column: span 2;
}
.columns__col--3 {
  grid-column: span 3;
}
@media only screen and (max-width: 1200px) {
  .columns__col--3 {
    grid-column: span 12;
  }
}
.columns__col--4 {
  grid-column: span 4;
}
@media only screen and (max-width: 1200px) {
  .columns__col--4 {
    grid-column: span 12;
  }
}
.columns__col--5 {
  grid-column: span 5;
}
@media only screen and (max-width: 1200px) {
  .columns__col--5 {
    grid-column: span 12;
  }
}
.columns__col--6 {
  grid-column: span 6;
}
@media only screen and (max-width: 1200px) {
  .columns__col--6 {
    grid-column: span 12;
  }
}
.columns__col--7 {
  grid-column: span 7;
}
@media only screen and (max-width: 1200px) {
  .columns__col--7 {
    grid-column: span 12;
  }
}
.columns__col--8 {
  grid-column: span 8;
}
@media only screen and (max-width: 1200px) {
  .columns__col--8 {
    grid-column: span 12;
  }
}
.columns__col--9 {
  grid-column: span 9;
}
@media only screen and (max-width: 1200px) {
  .columns__col--9 {
    grid-column: span 12;
  }
}
.columns__col--10 {
  grid-column: span 10;
}
@media only screen and (max-width: 1200px) {
  .columns__col--10 {
    grid-column: span 12;
  }
}
.columns__col--11 {
  grid-column: span 11;
}
@media only screen and (max-width: 1200px) {
  .columns__col--11 {
    grid-column: span 12;
  }
}
.columns__col--12 {
  grid-column: span 12;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 73.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.editor {
  display: block;
  width: 100%;
}
.editor > :last-child {
  margin-bottom: 0;
}
.editor--16 {
  font-size: 1rem;
}
.editor--18 {
  font-size: 1.125rem;
}
.editor--center {
  text-align: center;
}
@media only screen and (max-width: 1200px) {
  .editor--center {
    text-align: left;
  }
}
.editor h1,
.editor h2 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1em;
}
.editor h3,
.editor h4,
.editor h5 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1em;
}
.editor h1 {
  font-size: 3.125rem;
}
@media only screen and (max-width: 1200px) {
  .editor h1 {
    font-size: 2.75rem;
  }
}
.editor h2 {
  font-size: 2.75rem;
}
@media only screen and (max-width: 1200px) {
  .editor h2 {
    font-size: 2.25rem;
  }
}
.editor h3 {
  font-size: 2.25rem;
}
@media only screen and (max-width: 1200px) {
  .editor h3 {
    font-size: 1.5rem;
  }
}
.editor h4 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1200px) {
  .editor h4 {
    font-size: 1.25rem;
  }
}
.editor h5 {
  font-size: 1.25rem;
}
@media only screen and (max-width: 1200px) {
  .editor h5 {
    font-size: 1rem;
  }
}
.editor h6 {
  font-size: 1rem;
}
.editor p {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1200px) {
  .editor p {
    margin-bottom: 1.875rem;
  }
}
.editor ul {
  list-style-type: disc;
  list-style-position: inside;
}
.editor ul,
.editor ol {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1200px) {
  .editor ul,
.editor ol {
    margin-bottom: 1.875rem;
  }
}
.editor ul > :last-child,
.editor ol > :last-child {
  margin-bottom: 0;
}
.editor li {
  margin-bottom: 1rem;
}
.editor ul li {
  position: relative;
}
.editor a {
  text-decoration: underline;
}
.editor a:hover {
  text-decoration: none;
}
.editor blockquote {
  font-weight: 300;
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  padding: 2.0625rem 4.5rem;
}
@media only screen and (max-width: 1200px) {
  .editor blockquote {
    font-weight: 400;
    font-size: 1.25rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-bottom: 1.875rem;
    padding: 1.875rem 1.875rem 1.875rem 2.625rem;
  }
}
.editor blockquote:before {
  content: "";
  top: 2.0625rem;
  left: 3.125rem;
  width: 0.125rem;
  display: block;
  bottom: 2.0625rem;
  position: absolute;
}
@media only screen and (max-width: 1200px) {
  .editor blockquote:before {
    left: 1.875rem;
    top: 1.875rem;
    bottom: 1.875rem;
  }
}
.editor figure {
  display: block;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1200px) {
  .editor figure {
    margin-bottom: 1.875rem;
  }
}
.editor picture {
  width: 100%;
  height: auto;
  display: block;
}
.editor img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
}
.editor figcaption {
  display: block;
  font-weight: 400;
}
.editor strong,
.editor b {
  font-weight: 600;
}
.editor i {
  font-style: italic;
}

.field {
  width: 100%;
  display: block;
  font-size: 0.9375rem;
}
.field--accent .field__input {
  border-color: #E84D69;
}
.field--accent .field__message {
  color: #FF596D;
  padding-left: 1.0625rem;
  background-repeat: no-repeat;
  background-size: 0.75rem 0.75rem;
  background-position: left top 0.3em;
  background-image: url("../assets/icons/error.svg");
}
.field__caption {
  display: block;
  margin-bottom: 0.625rem;
}
.field__caption b {
  color: #E84D69;
}
.field__wrapper {
  position: relative;
}
.field__input {
  width: 100%;
  color: #6a718e;
  display: block;
  height: 2.75rem;
  padding: 0 1rem;
  font-family: inherit;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  border: 1px solid #C7CAE9;
}
.field__input--padding {
  padding-right: 3.75rem;
}
.field__input::placeholder {
  color: #c3c6d2;
  font-family: inherit;
}
.field__button {
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  width: 2.75rem;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  transition: 0.3s opacity;
}
.field__button:hover {
  opacity: 0.7;
}
.field__button:active {
  opacity: 1;
}
.field__icon {
  fill: #0D0B30;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
.field__message {
  display: block;
  margin-top: 0.4375rem;
}

.fieldset__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fieldset__title {
  display: block;
  font-weight: 500;
  font-size: 1.4375rem;
  margin-bottom: 1.5625rem;
}
.fieldset__text {
  color: #6a718e;
  font-weight: 400;
  font-size: 0.9375rem;
}
.fieldset__text strong {
  color: #0D0B30;
}

.footer {
  width: 100%;
  color: #6a718e;
  display: flex;
  padding: 0.9375rem 0;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c3c6d2;
}

.form {
  width: 100%;
  display: block;
}
.form--login {
  display: flex;
  max-width: 25rem;
  min-height: 33.125rem;
  flex-direction: column;
  justify-content: space-between;
}
.form__title {
  color: #0D0B30;
  font-weight: 700;
  font-size: 1.875rem;
}
.form__title strong {
  color: #241251;
}
.form__main {
  flex-grow: 1;
}
.form__text {
  color: #6a718e;
  font-weight: 400;
  font-size: 1.0625rem;
  margin-bottom: 1.25rem;
}
.form__text > :last-child {
  margin-bottom: 0;
}
.form__text p {
  margin-bottom: 1em;
}
.form__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__toolbar--right {
  justify-content: flex-end;
}

.form-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-search__picture {
  display: block;
  margin-bottom: 3.5rem;
}
.form-search__wrapper {
  position: relative;
}
.form-search__input {
  width: 100%;
  display: block;
  height: 5.125rem;
  font-size: 1.125rem;
  min-width: 50.625rem;
  font-family: inherit;
  box-sizing: border-box;
  border-radius: 1rem;
  text-overflow: ellipsis;
  border: 0.125rem solid #829CED;
  padding: 0rem 5.125rem 0rem 2.5rem;
}
.form-search__button {
  top: 50%;
  display: flex;
  right: 1.125rem;
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
  position: absolute;
  align-items: center;
  border-radius: 0.625rem;
  box-sizing: border-box;
  justify-content: center;
  background-color: #829CED;
  transform: translateY(-50%);
}
.form-search__button:hover {
  opacity: 0.7;
}
.form-search__button:active {
  opacity: 1;
  background-color: #FFFFFF;
}
.form-search__button:active .form-search__icon {
  fill: #829CED;
}
.form-search__icon {
  fill: #FFFFFF;
  display: block;
  width: 1.75rem;
  height: 1.75rem;
}
.form-search__caption {
  width: 100%;
  color: #6a718e;
  height: auto;
  font-size: 2.625rem;
  text-align: center;
  margin-top: 3.125rem;
  margin-bottom: 3.5rem;
  font-family: "Satisfy", cursive;
}

.header {
  display: flex;
  min-height: 5rem;
  background-color: #FFFFFF;
  justify-content: space-between;
}
.header__aside {
  flex-shrink: 0;
  width: 5.125rem;
  border-right: 1px solid #C7CAE9;
}
.header__content {
  min-width: 0;
  flex-grow: 1;
  border-bottom: 1px solid #C7CAE9;
}

.intro {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.intro__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 4.375rem;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(36, 18, 81, 0.93);
}
.intro__content {
  color: #FFFFFF;
  min-height: 34.375rem;
}
.intro__logo {
  display: block;
  margin-bottom: 3.75rem;
  transition: 0.3s opacity;
}
.intro__logo:hover {
  opacity: 0.7;
}
.intro__logo img {
  height: auto;
  display: block;
  width: 20.25rem;
}
.intro__line {
  padding: 0;
  border: none;
  width: 6rem;
  margin-bottom: 3.75rem;
  border-bottom: 0.25rem solid #FFFFFF;
}
.intro__title {
  line-height: 1.3;
  font-weight: 400;
  font-size: 3.0625rem;
}
.intro__title strong {
  font-weight: 700;
  font-size: 2.75rem;
}

.layout {
  height: 100vh;
  display: flex;
  min-height: 71.875rem;
  flex-direction: column;
}
.layout__main {
  flex-grow: 1;
  display: flex;
  min-height: 0;
}
.layout__aside-main {
  flex-shrink: 0;
  width: 40.625rem;
  max-width: 100%;
}
.layout__aside {
  z-index: 1;
  width: 100%;
  flex-shrink: 0;
  max-width: 5.125rem;
  position: relative;
}
.layout__content {
  min-width: 0;
  flex-grow: 1;
  display: flex;
  position: relative;
  max-width: 87.5rem;
  flex-direction: column;
  justify-content: space-between;
}
.layout__content--regular {
  padding: 0 1.875rem;
}
.layout__content--centered {
  display: flex;
  padding: 5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.link {
  display: block;
  color: inherit;
  font-weight: 500;
  font-size: 0.9375rem;
  width: fit-content;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
}

.link-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}
a.link-logo {
  cursor: pointer;
  transition: 0.3s;
}
a.link-logo:hover {
  opacity: 0.7;
}
a.link-logo:active {
  opacity: 1;
  background-color: #c3c6d2;
}

.link-logo img {
  display: block;
  max-width: 3.125rem;
  max-height: 3.125rem;
}

.link-preview {
  display: block;
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 0.75rem;
}
a.link-preview {
  cursor: pointer;
  transition: 0.3s;
}
a.link-preview:hover {
  opacity: 0.7;
}
a.link-preview:active {
  opacity: 1;
}

.link-preview img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}

.loader__logo {
  display: block;
  width: 3rem;
  height: 2.75rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.125rem;
}
.loader__line {
  display: block;
  height: 2.25rem;
  width: 21.25rem;
  overflow: hidden;
  border-radius: 2.25rem;
  border: 0.1875rem solid #957DF3;
}
.loader__progress {
  height: 100%;
  border-radius: 2.25rem;
  border-top: 4px solid #FFFFFF;
  border-left: 6px solid #FFFFFF;
  background-color: #957DF3;
  border-right: 6px solid #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
}

.main {
  flex-grow: 1;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.9375rem 1.75rem;
  justify-content: space-between;
}
.navbar__toolbar {
  gap: 1.25rem;
  min-width: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar__user {
  gap: 1.875rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.navbar__name {
  font-size: 1.25rem;
}

.section--full {
  min-height: 100vh;
}
.section--centered {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section--align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--regular {
  padding: 1.5625rem 3.125rem;
}

.selector-lang {
  top: 2.1875rem;
  right: 3.125rem;
  position: absolute;
}
.selector-lang__button {
  gap: 0.25rem;
  display: flex;
  padding: 0.375rem;
  cursor: pointer;
  align-items: center;
  border-radius: 0.5rem;
  transition: 0.3s opacity;
  border: 1px solid #c3c6d2;
}
.selector-lang__button:hover {
  opacity: 0.7;
}
.selector-lang__wrapper {
  display: flex;
  width: 1.375rem;
  height: 1.375rem;
  align-items: center;
  justify-content: center;
}
.selector-lang__flag {
  width: auto;
  display: block;
  height: 2.0625rem;
}
.selector-lang__icon {
  width: 0.5rem;
  height: 0.8125rem;
}

.title-head {
  gap: 0.9375rem;
  display: flex;
  align-items: center;
}
a.title-head {
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
a.title-head:hover {
  opacity: 0.7;
}
a.title-head:active {
  opacity: 1;
}

.title-head__button {
  display: flex;
  width: 1.75rem;
  flex-shrink: 0;
  height: 1.75rem;
  cursor: pointer;
  align-items: center;
  margin-right: 0.3125rem;
  justify-content: center;
  transition: 0.3s opacity;
}
.title-head__button:hover {
  opacity: 0.7;
}
.title-head__icon {
  fill: #0D0B30;
  width: 0.625rem;
  flex-shrink: 0;
  height: 1.0625rem;
}
.title-head__logo {
  width: auto;
  display: block;
  flex-shrink: 0;
  height: 2.625rem;
}
.title-head__text {
  font-weight: 400;
  font-size: 1.4375rem;
}
.title-head__text b {
  font-weight: 600;
}
.title-head__text span {
  opacity: 0.6;
  font-weight: 400;
  font-size: 1.0625rem;
}

.toolbar-column {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.toolbar-column--small {
  gap: 0.9375rem;
  max-width: 9rem;
}
.toolbar-column--regular {
  gap: 0.9375rem;
  max-width: 9.875rem;
}
.toolbar-column--large {
  gap: 1.5625rem;
  max-width: 11.875rem;
}

.uploader-image__picture {
  width: 9.125rem;
  height: 9.125rem;
  margin-left: auto;
  position: relative;
  margin-right: auto;
}
.uploader-image__label {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1.625rem;
  transition: 0.3s opacity;
  border: 0.375rem solid #FFFFFF;
  filter: drop-shadow(0 0 2.1875rem rgba(57, 66, 105, 0.3));
}
.uploader-image__label img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.uploader-image__label:hover {
  opacity: 0.7;
}
.uploader-image__label:active {
  opacity: 1;
}
.uploader-image__button {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9375rem;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem;
}
.uploader-image__tag {
  display: flex;
  width: 2.5rem;
  right: -0.375rem;
  height: 2.5rem;
  bottom: -0.9375rem;
  align-items: center;
  border-radius: 0.625rem;
  justify-content: center;
  background-color: #FF8059;
  position: absolute;
}
.uploader-image__icon {
  fill: #f3f6fc;
  width: 1.375rem;
  display: block;
  height: 1.375rem;
}
