.nav-resize {
    display: flex;

    &--small {
        .nav-resize {
            &__button {
                width: rem(36);
                height: rem(36);
            }
        }
    }

    &__button {
        display: flex;
        flex-shrink: 0;
        width: rem(40);
        height: rem(40);
        cursor: pointer;
        align-items: center;
        justify-content: center;
        transition: 0.3s opacity;
        border: 1px solid $lilac;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }

        &:disabled {
            opacity: 0.3;
            pointer-events: none;
        }

        &--prev {
            border-top-left-radius: rem(8);
            border-bottom-left-radius: rem(8);
        }

        &--next {
            border-top-right-radius: rem(8);
            border-bottom-right-radius: rem(8);
        }
    }

    &__icon {
        fill: $grey;
        width: rem(12);
        height: rem(12);
    }
}