// Colors
$white: #FFFFFF;
$light: #f3f6fc;

$purple-light: #481E7E;
$purple: #241251;
$purple-dark: #071343;

$lilac-light: #EAE1F5;
$lilac: #C7CAE9;
$lilac-dark: #957DF3;

$orange: #FF8059;

$grey-light: #c3c6d2;
$grey: #6a718e;
//$grey-dark: #ffffff;

$red: #E84D69;
$pink: #FF596D;
$blue: #829CED;

$dark: #0D0B30;

// Fonts
$font-main: 'Roboto', sans-serif;
$font-cursive: 'Satisfy', cursive;
