// Colors
$light: #FFFFFF;
$purple: #241251;
$purple-dark: #071343;
$lilac: #957DF3;
$orange: #FF8059;
$grey: #333E63;
$dark: #0D0B30;
$pink: #FF596D;
$blue: #829CED;

// Fonts
$font-main: 'Roboto', sans-serif;