<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<header class="layout__header">

</header>
<div class="layout">
    <div class="layout__aside">
        <aside class="aside">
            <div class="aside__section aside__section--main">

            </div>
            <div class="aside__section aside__section--footer">

            </div>
        </aside>
    </div>
    <main class="layout__main layout__main--login">

    </main>
</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>