<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--full section--centered bg-white">
        <div class="loader">
            <img src="./assets/images/logo-small.svg" alt="Profit Monkey Logo" class="loader__logo">
            <div class="loader__line">
                <div class="loader__progress" style="width: 77%"></div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>