<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="layout">
    <div class="layout__main">
        <div class="layout__aside-main">
            <section class="intro" style="background-image: url('./assets/images/intro-bg.jpg')">
                <div class="intro__wrapper">
                    <div class="intro__content">
                        <a class="intro__logo" href="">
                            <img alt="Profit Monkey Logo" src="./assets/images/logo-light.svg">
                        </a>
                        <hr class="intro__line">
                        <h1 class="intro__title">
                            We are your Most Reliable <strong>Restaurant's Consultants</strong>
                        </h1>
                    </div>
                </div>
            </section>
        </div>
        <main class="layout__content layout__content--centered">
            <section class="section section--centered">
                <div class="selector-lang z-index-1" data-toggler="active">
                    <button class="selector-lang__button" type="button">
                        <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        <span class="selector-lang__wrapper">
                            <img alt="#" class="selector-lang__icon" src="./assets/icons/chevron.svg">
                        </span>
                    </button>
                    <div class="selector-lang__list scrolls">
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                        <a href="" class="selector-lang__item">
                            <img alt="" class="selector-lang__flag" src="./assets/icons/flag-usa.svg">
                        </a>
                    </div>
                </div>
                <form action="POST" class="form form--login">
                    <h2 class="form__title mb-15">
                        Welcome to <strong>Profit Monkey</strong>
                    </h2>
                    <div class="form__text">
                        <p>
                            Next Generation Management Services
                            for Restaurants and the Hospitality industry
                        </p>
                    </div>
                    <div class="form__main mb-45">
                        <label class="field mb-25">
                            <span class="field__caption">
                                Email
                            </span>
                            <div class="field__wrapper">
                                <input class="field__input" placeholder="Enter your Email" type="email"
                                       value="alberto@profitmonkey.io">
                            </div>
                        </label>
                        <label class="field field--accent mb-25">
                            <span class="field__caption">
                                Password
                            </span>
                            <div class="field__wrapper">
                                <input class="field__input field__input--accent" placeholder="Enter your Password" type="password"
                                       value="12345678">
                                <span class="field__message">
                                    You entered a Wrong Password
                                </span>
                            </div>
                        </label>
                    </div>
                    <div class="form__toolbar mb-45">
                        <label class="checkbox">
                            <input class="checkbox__input" type="checkbox">
                            <span class="checkbox__box">
                                <img alt="#" class="checkbox__icon" src="./assets/icons/check.svg">
                            </span>
                            <span class="checkbox__caption">
                                Remember me
                            </span>
                        </label>
                        <a class="link" href="">
                            Forgot Password
                        </a>
                    </div>
                    <button class="button button--orange-outline full-width">
                        <span class="button__text button__text--size-20">
                            Login
                        </span>
                    </button>
                </form>
            </section>
        </main>
    </div>

</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>