<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="layout">
    <header class="header">
        <div class="header__aside">
            <a class="link-logo" href="./home.html">
                <img src="./assets/images/logo-small.svg" alt="">
            </a>
        </div>
        <div class="header__content">
            <div class="navbar">
                <div class="navbar__toolbar">
                    <a href="" class="title-head">
                        <svg class="title-head__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                        </svg>
                        <img src="./assets/content/logo-title-1.png" alt="" class="title-head__logo">
                        <p class="title-head__text">
                            <b>Butcher's Cut | </b><span>Weekly Reports</span>
                        </p>
                    </a>
                    <a class="button-icon button-icon--shadow" href="">
                        <svg class="button-icon__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-dots"></use>
                        </svg>
                    </a>
                    <div class="block-info">
                        <span class="block-into__text">
                            08-15 Jan
                        </span>
                    </div>
                </div>
                <div class="navbar__user">
                    <button class="button-counter">
                        <svg class="button-counter__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                        </svg>
                        <span class="button-counter__counter">
                            7
                        </span>
                    </button>
                    <a href="./home.html" class="link-preview">
                        <img src="./assets/content/avatar.jpg" alt="Name Surname">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="layout__main">
        <div class="layout__aside">
            <%= htmlWebpackPlugin.options.aside %>
        </div>
        <main class="layout__content layout__content--regular">
            <section class="section section--full section--centered">
                <div class="form-search">
                    <img alt="" class="form-search__picture" src="./assets/images/picture-mascot.svg">
                    <div class="form-search__wrapper">
                        <input class="form-search__input" type="text">
                        <button class="form-search__button">
                            <svg class="form-search__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                            </svg>
                        </button>
                    </div>
                    <p class="form-search__caption">
                        Work hard and make it happen
                    </p>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.footer %>
        </main>
    </div>
</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>