<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="layout">
    <header class="header">
        <div class="header__aside">
            <a class="link-logo" href="./home.html">
                <img src="./assets/images/logo-small.svg" alt="">
            </a>
        </div>
        <div class="header__content">
            <div class="navbar">
                <div class="navbar__toolbar">
                    <a href="" class="title-head">
                        <svg class="title-head__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                        </svg>
                        <img src="./assets/content/logo-title-1.png" alt="" class="title-head__logo">
                        <p class="title-head__text">
                            <b>Butcher's Cut | </b><span>Weekly Reports</span>
                        </p>
                    </a>
                    <a class="button-icon button-icon--shadow" href="">
                        <svg class="button-icon__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-dots"></use>
                        </svg>
                    </a>
                    <div class="block-info">
                        <span class="block-into__text">
                            08-15 Jan
                        </span>
                    </div>
                </div>
                <div class="navbar__user">
                    <button class="button-counter">
                        <svg class="button-counter__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                        </svg>
                        <span class="button-counter__counter">
                            7
                        </span>
                    </button>
                    <a href="./home.html" class="link-preview">
                        <img src="./assets/content/avatar.jpg" alt="Name Surname">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="layout__main">
        <div class="layout__aside">
            <%= htmlWebpackPlugin.options.aside %>
        </div>
        <main class="layout__content layout__content--regular">
            <section class="section section--full section--centered">
                <div class="toolbar-head mb-25">
                    <div class="calendar">
                        <label class="calendar__item">
                            <input checked class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text"><b>6</b>Mon</span>
                            </span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper"><span class="calendar__text"><b>7</b>Tue</span></span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text">
                                    <b>8</b>Wed
                                </span>
                            </span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text">
                                    <b>9</b>Thu
                                </span>
                            </span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text">
                                    <b>10</b>Fri
                                </span>
                            </span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text">
                                    <b>11</b>Sat
                                </span>
                            </span>
                        </label>
                        <label class="calendar__item">
                            <input class="calendar__input" name="select-date" type="radio">
                            <span class="calendar__wrapper">
                                <span class="calendar__text">
                                    <b>12</b>Sun
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="nav-slider">
                        <button class="nav-slider__button nav-slider__button--prev">
                            <svg class="nav-slider__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="nav-slider__button nav-slider__button--next" disabled>
                            <svg class="nav-slider__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="separator"></div>
                    <div class="toggler">
                        <label class="toggler__item">
                            <input type="radio" class="toggler__input" name="toggler-date" checked>
                            <span class="toggler__block">Summary</span>
                        </label>
                        <label class="toggler__item">
                            <input type="radio" class="toggler__input" name="toggler-date">
                            <span class="toggler__block">Daily</span>
                        </label>
                    </div>
                    <div class="block-status">
                        <span class="block-status__text">Publish</span>
                    </div>
                    <div class="tag tag--yellow">
                        <span class="tag__text">
                            In Review
                        </span>
                    </div>
                </div>
                <div class="columns">
                    <div class="columns__col columns__col--7">

                    </div>
                    <div class="columns__col columns__col--5">
                        <form class="article">
                            <div class="article__header">
                                <h2 class="title">
                                    Finance
                                </h2>
                                <button class="button-edit button-edit--shadow button-edit--light">
                                    <svg class="button-edit__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-write"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="article__main">
                                <h3 class="title title--small mb-20">
                                    Bank Info
                                </h3>
                                <div class="columns columns--small mb-55">
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Bank Balance
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$94.471">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Checks In Transit
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$10,230.85">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Open Bill Balance
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$2,104.21">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Actual Balance
                                            </span>
                                            <span class="field__text">
                                                $140,610.00
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <h3 class="title title--small mb-20">
                                    Profit & Loss
                                </h3>
                                <div class="columns columns--small">
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                BOH Liability
                                            </span>
                                            <span class="field__text">
                                                $140,610.00
                                            </span>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                FOH Liability
                                            </span>
                                            <span class="field__text">
                                                $140,610.00
                                            </span>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Food Cost
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$140,610.00">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Beverage Cost
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$2,104.21">
                                            </div>
                                        </label>
                                    </div>
                                    <div class="columns__col columns__col--6">
                                        <label class="field">
                                            <span class="field__caption">
                                                Food Sales
                                            </span>
                                            <div class="field__wrapper">
                                                <input class="field__input" type="text" value="$94.471">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <%= htmlWebpackPlugin.options.footer %>
        </main>
    </div>
</div>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>