<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body" style="background-color: #e3e3e3;">
<style>
    .ui {
        margin-bottom: 4.375rem;
    }

    @media only screen and (max-width: 1300px) {
        .ui {
            margin-bottom: 2.1875rem;
        }
    }

    .ui__title {
        font-weight: 600;
        font-size: 4.5rem;
        margin-bottom: 2.1875rem;
    }

    @media only screen and (max-width: 1300px) {
        .ui__title {
            font-size: 1.5rem;
            margin-bottom: 1.25rem;
        }
    }

    .ui__content {
        gap: 2.5rem;
        display: flex;
        flex-direction: column;
    }

    @media only screen and (max-width: 1300px) {
        .ui__content {
            gap: 1.875rem;
        }
    }

    .ui-nav {
        gap: 0.625rem;
        display: flex;
        flex-wrap: wrap;
        padding: 2.5rem 0;
        margin-bottom: 1.875rem;
    }

    @media only screen and (max-width: 1300px) {
        .ui-nav {
            padding: 1.25rem 0;
            margin-bottom: 1.25rem;
        }
    }

    .ui-nav__link {
        color: #121624;
        font-size: 1.25rem;
        outline-color: #AA7EDA;
    }

    .ui-nav__link:hover, .ui-nav__link:focus {
        text-decoration: none;
    }

    @media only screen and (max-width: 1300px) {
        .ui-nav__link {
            font-size: 0.875rem;
        }
    }
</style>
<main class="main">
    <section class="section">
        <div class="container">
            <div class="elements" style="display: flex; flex-direction: column; gap: 20px;">
                <div class="ui-nav">
                    <a class="ui-nav__link" href="#button-icon">
                        .button-icon
                    </a>
                    <a class="ui-nav__link" href="#field">
                        .field
                    </a>
                    <a class="ui-nav__link" href="#header">
                        .header
                    </a>
                </div>
            </div>
        </div>

<!--        <div class="ui" id="aside">-->
<!--            <div class="ui__title">-->
<!--                <div class="container">-->
<!--                    .aside-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="ui__content">-->
<!--                <div class="container">-->
<!--                    <div class="columns">-->
<!--                        <div class="columns__col">-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="ui" id="button-icon">
            <div class="ui__title">
                <div class="container">
                    .button-icon
                </div>
            </div>
            <div class="ui__content">
                <div class="container">
                    <div class="columns">
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-dots"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-mail"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pdf"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-eye"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-change"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pen"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="columns__col columns__col--1">
                            <a class="button-icon" href="">
                                <svg class="button-icon__icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-delete"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui" id="field">
            <div class="ui__title">
                <div class="container">
                    .field
                </div>
            </div>
            <div class="ui__content">
                <div class="container">
                    <div class="columns">
                        <div class="columns__col columns__col--4">
                            <label class="field">
                                    <span class="field__caption">
                                        Email
                                    </span>
                                <input class="field__input" placeholder="Enter your Email" type="email"
                                       value="alberto@profitmonkey.io">
                            </label>
                        </div>
                        <div class="columns__col columns__col--4">
                            <label class="field field--accent">
                                    <span class="field__caption">
                                        Password
                                    </span>
                                <input class="field__input" placeholder="Enter your Password"
                                       type="password"
                                       value="12345678">
                                <span class="field__message">
                                        You entered a Wrong Password
                                    </span>
                            </label>
                        </div>
                        <div class="columns__col columns__col--4">
                            <div class="field">
                                <span class="field__caption">
                                    New Password
                                </span>
                                <div class="field__wrapper">
                                    <input class="field__input field__input--padding" placeholder="-" type="password">
                                    <button class="field__button" type="button">
                                        <svg class="field__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-show"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui" id="header">
            <h2 class="ui__title">
                <div class="container">
                    .header
                </div>
            </h2>
            <div class="ui__content">
                <header class="header">
                    <div class="header__aside">
                        <a class="link-logo" href="./home.html">
                            <img alt="" src="./assets/images/logo-small.svg">
                        </a>
                    </div>
                    <div class="header__content">
                        <div class="navbar">
                            <div class="navbar__toolbar">
                                <div class="title-head">
                                    <p class="title-head__text">
                                        <b>Welcome Home</b>
                                    </p>
                                </div>
                            </div>
                            <div class="navbar__user">
                                <p class="navbar__name">
                                    Hello Alberto
                                </p>
                                <button class="button-counter">
                                    <svg class="button-counter__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                                    </svg>
                                    <span class="button-counter__counter">
                                        7
                                    </span>
                                </button>
                                <a class="link-preview" href="./home.html">
                                    <img alt="Name Surname" src="./assets/content/avatar.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="header">
                    <div class="header__aside">
                        <a class="link-logo" href="./home.html">
                            <img alt="" src="./assets/images/logo-small.svg">
                        </a>
                    </div>
                    <div class="header__content">
                        <div class="navbar">
                            <div class="navbar__toolbar">
                                <a class="title-head" href="./home.html">
                                    <svg class="title-head__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                                    </svg>
                                    <p class="title-head__text">
                                        <b>My profile</b>
                                    </p>
                                </a>
                            </div>
                            <div class="navbar__user">
                                <button class="button-counter">
                                    <svg class="button-counter__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                                    </svg>
                                    <span class="button-counter__counter">
                                        7
                                    </span>
                                </button>
                                <a class="link-preview" href="./home.html">
                                    <img alt="Name Surname" src="./assets/content/avatar.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="header">
                    <div class="header__aside">
                        <a class="link-logo" href="./home.html">
                            <img alt="" src="./assets/images/logo-small.svg">
                        </a>
                    </div>
                    <div class="header__content">
                        <div class="navbar">
                            <div class="navbar__toolbar">
                                <a class="title-head" href="">
                                    <svg class="title-head__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                                    </svg>
                                    <img alt="" class="title-head__logo" src="./assets/content/logo-title-1.png">
                                    <p class="title-head__text">
                                        <b>SDDG | </b><span>Group</span>
                                    </p>
                                </a>
                                <a class="button-icon button-icon--shadow" href="">
                                    <svg class="button-icon__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-eye"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="navbar__user">
                                <button class="button-counter">
                                    <svg class="button-counter__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                                    </svg>
                                    <span class="button-counter__counter">
                                        7
                                    </span>
                                </button>
                                <a class="link-preview" href="./home.html">
                                    <img alt="Name Surname" src="./assets/content/avatar.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="header">
                    <div class="header__aside">
                        <a class="link-logo" href="./home.html">
                            <img alt="" src="./assets/images/logo-small.svg">
                        </a>
                    </div>
                    <div class="header__content">
                        <div class="navbar">
                            <div class="navbar__toolbar">
                                <div class="title-head">
                                    <p class="title-head__text">
                                        <b>Hello V</b>incenzo
                                    </p>
                                </div>
                            </div>
                            <div class="navbar__user">
                                <button class="button-counter">
                                    <svg class="button-counter__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                                    </svg>
                                    <span class="button-counter__counter">
                                        7
                                    </span>
                                </button>
                                <a class="link-preview" href="./home.html">
                                    <img alt="Name Surname" src="./assets/content/avatar.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="header">
                    <div class="header__aside">
                        <a class="link-logo" href="./home.html">
                            <img alt="" src="./assets/images/logo-small.svg">
                        </a>
                    </div>
                    <div class="header__content">
                        <div class="navbar">
                            <div class="navbar__toolbar">
                                <a class="title-head" href="">
                                    <svg class="title-head__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-left"></use>
                                    </svg>
                                    <img alt="" class="title-head__logo" src="./assets/content/logo-title-1.png">
                                    <p class="title-head__text">
                                        <b>Butcher's Cut | </b><span>Weekly Reports</span>
                                    </p>
                                </a>
                                <a class="button-icon button-icon--shadow" href="">
                                    <svg class="button-icon__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-dots"></use>
                                    </svg>
                                </a>
                                <div class="block-info">
                                    <span class="block-into__text">
                                        08-15 Jan
                                    </span>
                                </div>
                            </div>
                            <div class="navbar__user">
                                <button class="button-counter">
                                    <svg class="button-counter__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-bell"></use>
                                    </svg>
                                    <span class="button-counter__counter">
                                        7
                                    </span>
                                </button>
                                <a class="link-preview" href="./home.html">
                                    <img alt="Name Surname" src="./assets/content/avatar.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>