.loader {
    &__logo {
        display: block;
        width: rem(48);
        height: rem(44);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: rem(34);
    }

    &__line {
        display: block;
        height: rem(36);
        width: rem(340);
        overflow: hidden;
        border-radius: rem(36);
        border: rem(3) solid $lilac-dark;
    }

    &__progress {
        height: 100%;
        border-radius: rem(36);
        border-top: 4px solid $light;
        border-left: 6px solid $light;
        background-color: $lilac-dark;
        border-right: 6px solid $light;
        border-bottom: 4px solid $light;
    }
}