.button-aside {
    display: flex;
    width: rem(50);
    height: rem(50);
    cursor: pointer;
    position: relative;
    align-items: center;
    transition: 0.3s all;
    border-radius: rem(10);
    justify-content: center;

    &.active {
        outline: rem(6) solid $orange;
    }

    &--accent {
        background-color: $orange;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
            background-color: $white;

            .button-aside__icon, .button-aside__icon-accent {
                fill: $orange;
            }
        }

        .button-aside__icon {
            fill: $white;
            width: rem(24);
            height: rem(24);
        }

        .button-aside__icon {
            fill: $white;
        }
    }

    &--picture {
        background-color: $white;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
            background-color: $orange;
        }
    }


    &--clear {
        &:hover {
            .button-aside__icon, .button-aside__icon-accent {
                opacity: 1;
            }
        }

        .button-aside {
            &__icon {
                opacity: 0.7;
                fill: $purple;
                width: rem(28);
                height: rem(28);
                transition: 0.3s all;
            }

            &__icon-accent {
                opacity: 0.7;
                fill: $purple;
                transition: 0.3s all;
            }
        }
    }

    &__picture {
        width: 95%;
        height: 95%;
        padding: rem(2);
        object-fit: contain;
    }

    &__icon {
        display: block;
    }

    &__icon-accent {
        top: 50%;
        left: 100%;
        width: rem(6);
        display: block;
        height: rem(10);
        position: absolute;
        transform: translateY(-50%);
    }
}