<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
    <main class="main">
        <section class="section">
            <div class="container">
                <div class="editor">
                    <h1>
                        Page List
                    </h1>
                    <ul>
                        <li>
                            <a href="./index.html">Index</a>
                        </li>
                        <li>
                            <a href="./ui.html">UI</a>
                        </li>
                        <li>
                            <a href="./loader.html">Loader</a>
                        </li>
                        <li>
                            <a href="./login.html">Login</a>
                        </li>
                        <li>
                            <a href="./home.html">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>

</html>